+++
title = "LambdaStack"
linkTitle = "LambdaStack"

+++

{{< blocks/cover title="LambdaStack - Industrial proof Kubernetes" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/lambdastack/lambdastack">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Kubernetes automation that is Enterprise/Industrial proven!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Complete Kubernetes Automation that is production proven and hardened for Enterprise and Industry!
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="LambdaStack!" %}}


Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/lambdastack/lambdastack" %}}
We do a [Pull Request](https://github.com/lambdastack/lambdastack/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/lambdastack" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/lambdastack/lambdastack" %}}
We do a [Pull Request](https://github.com/lambdastack/lambdastack/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
